/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
}
p {
  padding: 10px 10px 10px 10px;
}
div {
  position: relative;
  border: 2px solid black;

  margin-bottom: 15px;
  margin-left: 1%;
  float: left;
  width: 98%;
  height: auto;
  padding: 20px 10px 10px 10px ;
  /*background-color: #DEB887*/
}
#div1 {
  position: relative;
  background-color: #DEB887;
  /*clear: right;*/
  
  /*width: 300px;
  height: 300px;*/
}
#div2 {
  background-color: #DEB887;
  /*width: 50px;
  height: 50px;*/
}
#div3 {
  background-color: #DEB887;
  /*width: 50px;
  height: 50px;*/
}

.ptitle {

	position: absolute;
  
  /*float: right;*/
  margin: 0;
  top: 0;
  right: 0;
  width: 100px;
  border: 1px solid black;
  text-align: center;
  background-color: red;
  color: white

}


/********** Large devices only **********/
@media (min-width: 992px) {
  #div1 {
    width: 32%;
	
	
  }
  #div2 {
    width: 32%;
    /*height: 150px;*/
  }
  #div3 {
    width: 32%;
    /*height: 150px;*/
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #div1 {
    width: 48%;
  }
  #div2 {
    width: 48%;
    /*height: 100px;*/
  }
  #div3 {
    width: 97%;
    /*height: 100px;*/
  }
  body {
    background-color: blue;
  }
}


